* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 50vw;
  margin: 2rem auto;
}

.header h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  border-bottom: 2px solid black;
  margin: 2rem 0;
}

.input-fields {
  text-align: center;
}

.input-fields input {
  width: 50%;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
}

.input-fields button {
  padding: 1rem 2rem;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background: rgb(45, 129, 207);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
